# Name of the workflow
name: CICD Pipeline

# Triggering Events (push to master branch)
on:
  push:
    branches:
      - master

# List of jobs 
jobs:
  # ==========================
  # JOB 1: Build & Push Images
  # ==========================  
  build:
    name: Build & Push to DockerHub
      # The type of runner the job will run on
    runs-on: ubuntu-latest

      # Sequences of Steps
    steps:
      # Checks out the repository under $GITHUB_WORKSPACE
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}   
          password: ${{secrets.DOCKER_PASSWORD}}

      # Build API image
      - name: Build API Docker image
        run: |
          docker build -t ${{secrets.DOCKER_USERNAME}}/api830:latest -f docker/Dockerfile.api .

      # Build UI image
      - name: Build UI Docker image
        run: |
          docker build -t ${{secrets.DOCKER_USERNAME}}/ui830:latest -f docker/Dockerfile.api .
          
      # Push API image
      - name: Push API image
        run: |
          docker push ${{secrets.DOCKER_USERNAME}}/api830:latest

      # Push UI image
      -  name: Push UI image
         run: |
           docker push ${{secrets.DOCKER_USERNAME}}/ui830:latest

  # ==========================
  # JOB 2: Deploy to Kubenetes
  # ==========================  
  deploy:
    name: Deploy to Kubernetes
    runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Kubeconfig
      run: |
        mkdir -p $HOME/.kube
        sudo cp /etc/rancher/k3s/k3s.yaml $HOME/.kube/config
        sudo chown $(whoami):$(whoami) $HOME/.kube/config
        chmod 600 $HOME/.kube/config
      
    - name: Setup kubectl
      run: |
        mkdir -p ~/.kube
        echo "${{secrets.KUBECONFIG_DATA}}" > ~/.kube/config
        
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/api-deployment.yaml
        kubectl apply -f k8s/ui-deployment.yaml    


